*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

html{
scroll-behavior: smooth;
}

/* header */

header{
  width: 100%;
  height: 100vh;
}

header nav{
  display: flex; 
  justify-content:space-around;
  align-items: center;
 background-color: rgb(255, 255, 255);
 box-shadow: 0 0 10px #000;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 1000;
}

header nav .logo a img{
  width: 40px;
  cursor: pointer;
  margin: 4px 0;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  margin: 0 15px;
}

header nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 17px;
  transition: 0.1s;
}

header nav ul li a::after{
  content:'';
  width: 0;
  height: 2px;
  background-color: #fac031;
  display: block;
  transition: 0.2s linear;
}

header nav ul li a:hover::after{
  width: 100%;
}

header nav ul li a:hover{
  color: #fac031;
}

header nav .icon i{
  font-size: 18px;
  color: #000;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

header nav .icon i:hover{
  color: #fac031;
}

.background img{
  max-width: 100%;
  height: auto;
  margin-top: 63px;
  box-shadow: 0 0 100px #000;
}

.btn{
  background-color: #fac031;
  position: relative;
  left: 123px;
  bottom: 30px;
  width: 150px;
  cursor: pointer;
  padding: 12px 25px;
  border-radius: 10px;
}

.btn a{
  color: #fff;
  margin-right: 5px;
  text-decoration: none;
}

.btn i{
  color: #fff;
  transition: 0.3s;
}

.btn:hover i{
  transform: translateX(7px);
}

/* Menu */

.Menu{
  width: 100%;
  padding: 70px 0;
}

.Menu h1{
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.Menu h1 span{
  color: #fac031;
  margin-left: 15px;
  font-family: mv boli;
}

.Menu h1 span::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fac031;
  display: block;
  position: relative;
  bottom: 15px;
}

.Menu .Menu-box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 15px;
}

.Menu .Menu-box .Menu-card{
  width: 314px;
  height: 480px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Menu .Menu-box .Menu-card .Menu-photo{
  width: 290px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
}


.Menu .Menu-box .Menu-card .Menu-photo img{
  width: 300px;
  height: 80%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.Menu .Menu-box .Menu-card .Menu-photo:hover img{
  transform: scale(1.1);
}

.Menu .Menu-box .Menu-card .small-card{
  width: 45px;
  height: 45px;
  float: right;
  position: relative;
  top: -240px;
  right: -8px;
  opacity: 1;
  border-radius: 7px;
  transition: 0.3s;
}

.Menu .Menu-box .Menu-card:hover .small-card{
  position: relative;
  top: -240px;
  right: 20px;
  opacity: 1;
}

.Menu .Menu-box .Menu-card .small-card i{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 6px #000;
  transition: 0.2s;
}

.Menu .Menu-box .Menu-card .small-card i:hover{
  color: #fac031;
}

.Menu .Menu-box .Menu-card .Menu-info h2{
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto ;
  font-size: 25px;
  color: #fac031;
}

.Menu .Menu-box .Menu-card .Menu-info p{
  text-align: center;
  margin-top: 8px;
  line-height: 21px;
}

.Menu .Menu-box .Menu-card .Menu-info h3{
  text-align: center;
  margin-top: 10px;
}

.Menu .Menu-box .Menu-card .Menu-info .Menu-icon{
  color: #fac031;
  text-align: center;
  margin: 10px 0 10px 0;
}

.Menu .Menu-box .Menu-card .Menu-info .Menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 8px 10px;
  margin: 0 80px;
  transition: 0.3s;
  border-radius: 15px;
}

.Menu .Menu-box .Menu-card .Menu-info .Menu-btn:hover{
background-color: #fac031;
}


/* Sale */

.Sale{
  width: 100%;
  padding: 70px 0;
}

.Sale h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.Sale h1 span {
  color: #fac031;
  margin-left: 15px;
  font-family: mv boli;
}

.Sale h1 span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fac031;
  display: block;
  position: relative;
  bottom: 15px;
}

.Sale .Sale-box{
  width: 95%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.Sale .Sale-box .Sale-photo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.Sale .Sale-box .Sale-photo img{
width: 100%;
transition: 0.3s;
}

.Sale .Sale-box .Sale-photo:hover img{
  opacity: 0.4;
}

.Sale .Sale-box .Sale-photo .Sale-btn{
  position: absolute;
  margin-top: 10px;
  color: #000;
  background-color: #fac031;
  padding: 7px 25px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(45px);
  z-index: 5;
  transition: 0.3s;
  border-radius: 15px;
}

.Sale .Sale-box .Sale-photo .Sale-btn:hover{
background-color:white;
}

.Sale .Sale-box .Sale-photo:hover .Sale-btn{
  opacity: 1;
  transform: translateY(0);
}

/* Order */

.Order {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.Order h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 55px;
}

.Order h1 span {
  color: #fac031;
  margin-right: 15px;
  font-family: mv boli;
}

.Order h1 span::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fac031;
  display: block;
  position: relative;
  bottom: 15px;
}

.Order .Order-main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(/images/orderphoto.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.Order .Order-main form .input p{
  line-height: 25px;
}

.Order .Order-main form .input{
  margin: 10px;
}


.Order .Order-main form .input input{
  width: 300px;
  height: 35px;
  padding: 0 10px;
  border: 2px solid #cccccc;
  background-color: #eeeeee;
  outline: none;
  border-radius: 3px;
}

.Order .Order-main form .input input:focus{
  border: 2px solid #fac031;
}

.Order .Order-main form .Order-btn{
  padding: 12px 25px;
  background: #fac031;
  color: white;
  position: relative;
  right: 10px;
  top: 30px;
  width: 150px;
  cursor: pointer;
  margin: 110px;
  text-decoration: none;
  border-radius: 10px;
} 

.Order .Order-main form .Order-btn:hover{
  background-color:#000000;
}

/* footer */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #000000e7;
  padding: 20px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fac031;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li p{
  color: #c4c1c1;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fac031;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fac031;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .end span {
  color: #fac031;
  margin-left: 10px;
}

footer .end {
color: #a9a8a8;
}


::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #fac031;
  border-radius: 15px;
}

